In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from datetime import timedelta

In [16]:
factor_rtn = pd.read_excel(r'C:\Users\stox1\Desktop\research\New_Factor_Model\New_3_factor\two_factor_rtn.xlsx', index_col='Date')
excess_rtn = pd.read_excel(r'C:\Users\stox1\Desktop\research\New_Factor_Model\New_3_factor\excess_rtn.xlsx', index_col='Date')
portfolio_rtn =  pd.read_excel(r'C:\Users\stox1\Desktop\research\New_Factor_Model\New_3_factor\Fund_Return\equity_fund_rtn.xlsx', index_col='Date')

In [17]:
excess_rtn = excess_rtn[['Excess_rtn']]

data_df = pd.concat([portfolio_rtn, factor_rtn, excess_rtn], axis=1, join='inner')

data_df.head()

,IBKKOSPI200인덱스증권자투자신탁 1[주식]종류A,한국투자중소밸류증권자투자신탁(주식)(A),SMB_rtn,HML_rtn,Excess_rtn
Date,,,,,
2010-01-04,-0.021688,-0.013216,-0.007700,0.013395,0.009410
2010-01-05,0.690226,0.438394,-0.005909,0.012492,-0.002165
2010-01-06,-0.262447,-0.710651,-0.007371,-0.002854,0.008324
2010-01-07,0.868942,0.540117,0.003670,-0.000336,-0.012391
2010-01-08,-1.283911,-1.416095,-0.007908,-0.005452,0.006444

In [18]:
data_df.tail()

,IBKKOSPI200인덱스증권자투자신탁 1[주식]종류A,한국투자중소밸류증권자투자신탁(주식)(A),SMB_rtn,HML_rtn,Excess_rtn
Date,,,,,
2019-06-24,-0.207394,-0.278316,NaN,0.003748,-0.000892
2019-06-25,0.065465,-0.569350,NaN,-0.004399,-0.003538
2019-06-26,-0.109036,-0.699857,NaN,-0.002322,-0.000045
2019-06-27,0.108116,-0.189389,NaN,-0.003596,0.002605
2019-06-28,1.094531,0.225621,NaN,0.003871,-0.003107

In [19]:
factor_rtn.tail()

            SMB_rtn   HML_rtn
Date
2019-06-24      NaN  0.003748
2019-06-25      NaN -0.004399
2019-06-26      NaN -0.002322
2019-06-27      NaN -0.003596
2019-06-28      NaN  0.003871